<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090928285023-5jvm256sc7bica7q6jd4qvvtq4lclc1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090928285023-5jvm256sc7bica7q6jd4qvvtq4lclc1e</string>
	<key>API_KEY</key>
	<string>AIzaSyB06qTGUysNP3bIQmCKsDFMn_mDAbts8BM</string>
	<key>GCM_SENDER_ID</key>
	<string>1090928285023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simplycreative.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-7ef9c</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-7ef9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090928285023:ios:d8014a874cce1e45d412ea</string>
</dict>
</plist>